.single-card{
    border: 1px solid lightgray;
    margin-left: 20px;
    margin-bottom: 15px;
    background-color: #ffffff;
    border-radius: 5px;
}


.card img{
    height: 200px;
    width: 240px;
    object-fit: cover;
}
.card{
    text-align: center;
    margin-top: 8px;
}
.regular-btn{
    background-color: #f67728;
    padding: 5px;
    margin-bottom:10px ;
    color: white;
    border-radius: 5px;
    border: 1px solid #f67728;
    cursor: pointer;
}

.details h5{
    margin: 10px 0;
    font-size: 15px;
}